.main {
  //margin-top: 8%;

  .detail {
    display: flex;
    justify-content: center;

    h2 {
      margin-right: 30px;
    }
  }

  .description {
    width: 88%;
    margin: 0 auto;
    text-align: justify;
  }

  .link {
    margin-top: 10%;
  }
}
